
/* Stolen from http://dl.dropbox.com/u/39519/talks/tooling-q1/index.html */

.key {
  font: 25px 'Molengo';
  line-height: 30px;
  color: #000;
  display: inline-block;
  padding: 6px 10px 3px 10px;
  text-shadow: none;
  letter-spacing: 0;
  bottom: 20px;
  position: relative;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
  padding: 1px 6px 1px;
  margin: 0px 7px;
  font-size: 13px;
}


/* Google colours */
.red .state-background {
	background: rgba( 245, 0, 23, 0.8 );
}
.yellow .state-background {
	background: rgba( 255, 134, 8, 0.8 );
}
.blue .state-background {
	background: rgba( 0, 86, 251, 0.8 );
}
.green .state-background {
	background: rgba( 6, 153, 36, 0.8 );
}


/* stuff... */
#stage {
	height:600px;
	width:1000px;
	overflow:hidden;
	margin: 0 auto;
	-webkit-perspective:800;
	-webkit-perspective-origin:center 300px;
	line-height:0;
}

#far-far-away {
	color:rgb(75,213,238);
	font-size:48px;
	line-height:1.5;
	position:absolute;
	top:200px;
	left:190px;
	opacity:0;
	-webkit-animation:fade-in-out 6s linear;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-delay:5s;
}

@-webkit-keyframes fade-in-out {
	0% { opacity:0; }
	16%   { opacity:1; }
	84%   { opacity:1; }
	100%   { opacity:0; }
}